
BODY {font-family: Helvetica; background-color: #cc5400}
H1 {font: x-large Veranda, sans-serif; color: a44400; border-bottom: thin black solid;}
ul {border-radius: 14px; 
border: 3px solid #773100;}

>>test changes.. <<