
	body {
	background-color: #ff9d4c;
}
	h1 {
	font-size: 24px; 
	font-family: 'Century Gothic', sans-serif; 
	color: #7d3900; 
	border-bottom: thin black solid;
}
	ul {border-radius: 14px; 
	border: 3px solid #;
}
	table { 
	font-family: Helvetica;
	width: 1050px; 
	border-collapse: collapse;
	border-spacing: 0;
}
	td, th { 
	border: 1px solid #ccc; height: 30px 
}
	th  {
	background: #7d3900;
	font-weight: bold;
}
	td  {
	background: #fafafa;
	text-align: center;	
}
  	table { 
	margin: 10px 50px 0px 75px;
}
