
	/*  hoizontal nav*/
* {
	box-sizing: border-box;
	font-size: 24px; /*1em /1rem/100% */
}

.clearfix {
	overflow: auto;
}
.horizontal-nav {
	background-color: #242628;
	margin: 0;
	padding: 0;

}
.horizontal-nav h1 {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
}
.horizontal-nav a {
	font-size: 1rem;
	font-weight: normal;
}
.horizontal-nav ul {
	margin: 0;
	padding: 0;
}
.horizontal-nav li {
	list-style: none;
}
.horizontal-nav a {
	padding: .8rem .5rem;
	display: #242628;
	text-decoration: none;
	font-weight: normal;
	font-size: 1rem;
}
.horizontal-nav h1 {
	float: right;
}
.horizontal-nav > li:first-child {
	float: left;
}
.horizontal-nav > li:last-child {
	float: right;
}
.horizontal-nav > li:last-child li {
	float: left;
}
#main {
	float: left;
	width: 70%;
	padding: 2rem 2rem;
	background-color: #f0f
}
#sidebar {
	float: left;
	width: 30%;
	padding: 2rem 2rem;
	background-color: #ff0;
}

