 /* navigation */
	/*  horizontal nav*/
* {
	box-sizing: border-box;
	font-size: 24px; /*1em /1rem/100% */
}

.clearfix {
	overflow: auto;
}
.horizontal-nav {
	background-color: #d8d8d8;
	margin: 0;
	padding: 0;
}
.horizontal-nav h1 {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
}
.horizontal-nav a {
	font-size: 1rem;
	font-weight: normal;
}
.horizontal-nav ul {
	margin: 0;
	padding: 0;
}
.horizontal-nav li {
	list-style: none;
	font-size: 1rem;
	font-family: 'Century Gothic';
	font-color: #D8d8d8;
}
.horizontal-nav li a:hover {
	color: white;
}
.horizontal-nav a {
	padding: .8rem .5rem;
	display: #242628;
	text-decoration: none;
	font-weight: normal;
	font-size: 1rem;
}
.horizontal-nav h1 {
	float: right;
}
.horizontal-nav > li:first-child {
	float: left;
}
.horizontal-nav > li:last-child {
	float: right;
}
.horizontal-nav > li:last-child li {
	float: left;
}
#main {
	float: left;
	width: 70%;
	padding: 1rem 1rem;
	background-color: #f0f;
	list-size: 1rem;
	font-size: 1rem;
	font-family: 'Century Gothic';
	font-color: #D8d8d8;
	opacity: 0.51
}
#sidebar {
	float: right;
	width: 30%;
	padding: 1rem 1rem;
	background-color: #ff0;
	list-style: none;
	font-size: 1rem;
	font-family: 'Century Gothic';
	font-color: #D8d8d8;
	opacity: 0.51;
}
