
	/*  hoizontal nav*/
* {
	font-size: 24px; /*1em /1rem/100% */
}
.horizontal-nav {
	background-color: #242628;
	margin: 0;
}
.horizontal-nav h1,
	font-size: 1rem;
	font-weight: normal;

.horizontal-nav a,{
	font-size: 1rem;
	font-weight: normal;
}
.horizontal-nav li{
	list-style: none;
}
.horizontal-nav a{
	color: :#888888;
	text-decoration: none;
}
